
@{
    ViewBag.Title = "Feedback_Attorney";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

@section register{
    <link href="~/Content/bootstrap330.min.css"  rel="stylesheet" id="bootstrap-css" />
    <script src="~/Scripts/bootstrap330.min.js"></script>
    <script src="~/Scripts/jquery1111.min.js"></script>
    <script src="~/Scripts/jquery191.min.js"></script>
    <script src="~/Scripts/progressbar.js"></script>
    <script src="~/Scripts/progressbar.min.js"></script>
    <style>


        .name {
            color: #AFA939;
            font-weight: 600;
            vertical-align: middle;
        }

        .type, .email{
            display: block;
            line-height: 1;
            color: black;
            font-weight: normal;
        }

        .email { color: #ACACAC; }

        .user-image {
            height: 35px;
            width: 35px;
            object-fit: cover;
        }

        .attorney, .client {
            text-align: left;
        }

        .rating {
            background-color: #FCFCFC;
        }


        .rating-circle {
            margin: 20px;
            margin-bottom: 15px;
            min-width: 100px;
            max-width: 100px;
            min-height: 100px;
            max-height: 100px;
            position: relative;
        }

        .dot, .dot-empty {
  height: 12px;
  width: 12px;
  background-color: #AFA939;
  border-radius: 50%;
  display: inline-block;
  
}

        .dot-empty{
            background-color: #ddd;
        }

        .head-small {
            text-align: left;
            font-size: 14px;
            color: black;
        }

         .table th, .table td {
            border: none !important;
            padding: 0;
        }

        .table tr:nth-child(odd) > td {
             background-color: #fff;
        }

        .table tr:nth-child(even) > td {
             background-color: #fcfcfc;
        }

       
        .pagination {
            margin-right: 15px;
        }

            .pagination > li > a {
                color: #222831 !important;
            }

            .pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover,
            .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
                background-color: #AFA939 !important;
                border-color: #AFA939 !important;
                color: #fff !important;
            }

            .back-btn{
                background-color: #AFA939;
            color: #fff;
            font-size: 14px;
            cursor: pointer;
            border: none;
            outline: none;
            border-radius: 50%;
            width: 27px;
            height: 27px;
            }

            .back-btn:hover{
                background-color: #ded871;
            }
    </style>


}


<section>
    <div class="row pb-4" style="background-color: #F8F9FA;">
        <div class="col-md-4 mt-2 mb-2">
            <div class="search-bar">
                <input type="text" placeholder="enter text to search ..." class="float-left" />
                <button type="button" class="float-left search-btn"><i class="fas fa-search"></i></button>
            </div>
        </div>
    </div>

    <div>
        <div class="sub-content">
            <div class="container-fluid p-0 m-0">
                <div class="row">
                    <div class="col-md-12">
                        <div class="attorney p-5">
                            <img src="~/images/person_1.jpg" class="user-image rounded rounded-circle" />
                            <label class="name pl-3">Syeda Iqra Waseem<span class="type">Criminal Attorney</span></label>
                            <button class="float-right back-btn" title="Back"><i class="fas fa-arrow-left"></i></button>
                        </div>


                    </div>
                </div>
                <div class="row no-gutters" style="background-color: #F8F9FA">
                    <div class="p-5" style="margin: 0 auto; text-align: center">
                        <div class="float-left">
                            <div id="rating5" class="rating-circle"></div>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="type mb-4">5 star ratings</span>
                        </div>

                        <div class="float-left">
                            <div id="rating4" class="rating-circle"></div>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot-empty"></span>
                            <span class="type mb-4">4 star ratings</span>
                        </div>

                        <div class="float-left">
                            <div id="rating3" class="rating-circle"></div>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot-empty"></span>
                            <span class="dot-empty"></span>
                            <span class="type mb-4">3 star ratings</span>
                        </div>

                        <div class="float-left">
                            <div id="rating2" class="rating-circle"></div>
                            <span class="dot"></span>
                            <span class="dot"></span>
                            <span class="dot-empty"></span>
                            <span class="dot-empty"></span>
                            <span class="dot-empty"></span>
                            <span class="type mb-4">2 star ratings</span>
                        </div>

                        <div class="float-left">
                            <div id="rating1" class="rating-circle"></div>
                            <span class="dot"></span>
                            <span class="dot-empty"></span>
                            <span class="dot-empty"></span>
                            <span class="dot-empty"></span>
                            <span class="dot-empty"></span>
                            <span class="type mb-4">1 star ratings</span>
                        </div>


                    </div>
                </div>

                <div class="row pb-5">
                    <div class="col-md-12">
                        <h1 class="head-small ml-5 mr-5 mt-5">5 Feedback for this attorney</h1>

                        <div class="table table-striped">
                            <table>
                                <tr >
                                    <td colspan="2">
                                        <div class="client" style="overflow: hidden;">
                                            <div class="float-left pl-5 pr-5 pt-5">
                                                <img src="~/images/person_3.jpg" class="user-image rounded rounded-circle" />
                                                <label class="name pl-3">Farhan Ahmed Siddiqui<span class="email">farhan2398@hotmail.com</span></label>

                                            </div>
                                            <div class="float-right pr-5 pt-5 pb-5">
                                                <label>Rating: </label>
                                                <span class="dot"></span>
                                                <span class="dot"></span>
                                                <span class="dot"></span>
                                                <span class="dot-empty"></span>
                                                <span class="dot-empty"></span>
                                            </div>

                                        </div>
                                        <div class="pl-5 pr-5 pb-4">
                                            <p style="text-align: left; font-size: 13px;">
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                                            </p>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="2">
                                        <div class="client " style="overflow: hidden">
                                            <div class="float-left pl-5 pr-5 pt-5">
                                                <img src="~/images/person_3.jpg" class="user-image rounded rounded-circle" />
                                                <label class="name pl-3">Farhan Ahmed Siddiqui<span class="email">farhan2398@hotmail.com</span></label>

                                            </div>
                                            <div class="float-right pr-5 pt-5 pb-5">
                                                <label>Rating: </label>
                                                <span class="dot"></span>
                                                <span class="dot"></span>
                                                <span class="dot"></span>
                                                <span class="dot"></span>
                                                <span class="dot-empty"></span>
                                            </div>

                                        </div>
                                        <div class="pl-5 pr-5 pb-4">
                                            <p style="text-align: left; font-size: 13px;">
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                                            </p>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="2">
                                        <div class="client " style="overflow: hidden">
                                            <div class="float-left pl-5 pr-5 pt-5">
                                                <img src="~/images/person_3.jpg" class="user-image rounded rounded-circle" />
                                                <label class="name pl-3">Farhan Ahmed Siddiqui<span class="email">farhan2398@hotmail.com</span></label>

                                            </div>
                                            <div class="float-right pr-5 pt-5 pb-5">
                                                <label>Rating: </label>
                                                <span class="dot"></span>
                                                <span class="dot-empty"></span>
                                                <span class="dot-empty"></span>
                                                <span class="dot-empty"></span>
                                                <span class="dot-empty"></span>
                                            </div>

                                        </div>
                                        <div class="pl-5 pr-5 pb-4">
                                            <p style="text-align: left; font-size: 13px;">
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                                            </p>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="2">
                                        <div class="client " style="overflow: hidden">
                                            <div class="float-left pl-5 pr-5 pt-5">
                                                <img src="~/images/person_3.jpg" class="user-image rounded rounded-circle" />
                                                <label class="name pl-3">Farhan Ahmed Siddiqui<span class="email">farhan2398@hotmail.com</span></label>

                                            </div>
                                            <div class="float-right pr-5 pt-5 pb-5">
                                                <label>Rating: </label>
                                                <span class="dot"></span>
                                                <span class="dot"></span>
                                                <span class="dot"></span>
                                                <span class="dot"></span>
                                                <span class="dot"></span>
                                            </div>

                                        </div>
                                        <div class="pl-5 pr-5 pb-4">
                                            <p style="text-align: left; font-size: 13px;">
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                                            </p>
                                        </div>
                                    </td>
                                </tr>

                                <tr>
                                    <td colspan="2">
                                        <div class="client " style="overflow: hidden">
                                            <div class="float-left pl-5 pr-5 pt-5">
                                                <img src="~/images/person_3.jpg" class="user-image rounded rounded-circle" />
                                                <label class="name pl-3">Farhan Ahmed Siddiqui<span class="email">farhan2398@hotmail.com</span></label>

                                            </div>
                                            <div class="float-right pr-5 pt-5 pb-5">
                                                <label>Rating: </label>
                                                <span class="dot"></span>
                                                <span class="dot"></span>
                                                <span class="dot-empty"></span>
                                                <span class="dot-empty"></span>
                                                <span class="dot-empty"></span>
                                            </div>

                                        </div>
                                        <div class="pl-5 pr-5 pb-4">
                                            <p style="text-align: left; font-size: 13px;">
                                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic
                                            </p>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>


                    </div>
                </div>

                <div class="clearfix"></div>
                <ul class="pagination pull-right">
                    <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
                </ul>
            </div>
        </div>
    </div>
</section>

<script>

    var rating5, rating4, rating3, rating2, rating1;
    var count = 0;

    $(document).ready(function () {
    $('.rating-circle').each(function () {
        var element_ID = $(this).attr('id');
        var element = document.getElementById(element_ID);
        count++;

        var bar = new ProgressBar.Circle(element, {
            color: '#AFA939',
        strokeWidth: 5,
        trailWidth: 5,
        easing: 'easeInOut',
        duration: 1400,
        text: {
            autoStyleContainer: false
        },
        from: { color: '#AFA939', width: 5 },
        to: { color: '#AFA939', width: 5 },
        step: function (state, circle) {
            circle.path.setAttribute('stroke', state.color);
            circle.path.setAttribute('stroke-width', state.width);

            var value = Math.round(circle.value() * 100);
            if (value === 0) {
                circle.setText('');
            } else {
                circle.setText(value+ '%');
            }
        }
        });

        bar.text.style.fontFamily = '"Raleway", Helvetica, sans-serif';
        bar.text.style.fontSize = '2rem';
        bar.text.style.color = '#222831';

        if (count === 1)
            rating5 = bar;
        if (count === 2)
            rating4 = bar;
        if (count == 3)
            rating3 = bar;
        if (count == 4)
            rating2 = bar;
        if (count == 5)
            rating1 = bar;
    });

        rating5.animate(0.4);
        rating4.animate(0.7);
        rating3.animate(1.0);
        rating2.animate(0.8);
        rating1.animate(0.1);
        });

   
</script>

