
@{
    ViewBag.Title = "MyProfile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="hero-wrap hero-wrap-2" style="background-image: url('/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
            <div class="col-md-9 ftco-animate pb-5 text-center">
                <h1 class="mb-3 bread">My Profile</h1>
                <p class="breadcrumbs"><span class="mr-2"><a href="@Url.Action("index", "Home")">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>My Profiless <i class="ion-ios-arrow-forward"></i></span></p>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section">
    <div class="container-fluid col-sm-12">
        <div class="row">
            <div class="col-sm-5" style="margin-top:-100px;">
                <span class="border border-#AFA939"></span>


                <img src="~/images/portrait12.jpg" style="height:370px; width:370px; border-radius:50%; padding: 90px; margin-top:-20px" />
                <p style="padding-left:50px; margin-top:-80px; color:black; font-size: 30px"><b>Vikash Maeshwari</b></p>
                <p style="padding-left:100px; margin-top:-20px; color:#AFA939; font-size: 20px">Cirminal Attorney</p>


                <label for="Gender" style="color:#AFA939; margin-top:10px; padding-left:10px"><b> Gender: </b></label>
                <label for="Gender" style="padding-left:20px;"> Male </label>
                <br />

                <label for="Email" style="color:#AFA939; padding-left:10px"><b> Email: </b></label>
                <label for="Email" style="padding-left:35px;"> vikash@gmail.com </label>
                <br />
                <label for="Country" style="color:#AFA939; padding-left:10px"><b> Country: </b></label>
                <label for="Country" style="padding-left:14px;"> Pakistan </label>
                <br />
                <label for="City" style="color:#AFA939; padding-left:10px"><b> City: </b></label>
                <label for="City" style="padding-left:50px;"> Karachi </label>
                <br />
                <label for="Contact" style="color:#AFA939; padding-left:10px"><b> Contact: </b></label>
                <label for="Contact" style="padding-left:17px;"> +923352953280 </label>
            </div>

            <div class="col-sm-7">

                <h3 style="color:black"><b>Professional Details</b></h3>

                <p style="color:#AFA939; margin-top:20px; padding-left:20px;"><b> Education </b> </p>
                <p style="padding-left:20px; margin-top:-20px;"> Harvard University, Cambridge, Massachusettes </p>


                <p style="color:#AFA939; padding-left:20px;"><b> Year of Experience </b></p>
                <p style="padding-left:20px; margin-top:-20px;"> 11 </p>

                <p style="color:#AFA939; padding-left:20px;"><b> Date of Birth </b></p>
                <p style="padding-left:20px; margin-top:-20px;"> 13/12/1997 </p>

                <p style="color:#AFA939; padding-left:20px;"><b> Law Firm </b></p>
                <p style="padding-left:20px; margin-top:-20px;"> Pearson Hardman, Cambridge, Massachusettes </p>

                <p style="color:#AFA939;  padding-left:20px;"><b> Case Handled </b></p>
                <p style="padding-left:20px; margin-top:-20px;"> 11 </p>

                <p style="color:#AFA939;  padding-left:20px;"><b> Certification </b></p>
                <p style="padding-left:20px; margin-top:-20px;"> Advanced Legal Research </p>

                <p style="color:#AFA939;  padding-left:20px;"><b> Language </b></p>
                <p style="padding-left:20px; margin-top:-20px;"> English, Spanish </p>



            </div>
        </div>
    </div>
</section>

