
@{
    ViewBag.Title = "Newsletter";
    Layout = "~/Views/Shared/Admin_Layout.cshtml";
}

<section>
    <div class="row pb-4 top-section">
        <div class="col-md-4 mt-2 mb-2">
            <div class="search-bar">
                <input type="text" placeholder="Search newsletter ..." class="float-left" />
                <button type="button" class="float-left search-btn"> <i class="fas fa-search"> </i> </button>
            </div>
        </div>
        <div class="col-md-8 mt-2 mb-2 center">
            <button class="buttons btn1 float-right w-25" onclick="location.href='/newsletter/list'">back</button>
        </div>
    </div>

    <div class="sub-content mb-5">
        @RenderPage("~/Views/newsletter/news.cshtml")
    </div>
</section>

